<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="../../../resources/css/base.css" th:href="@{/resources/css/base.css}"/>
    <link rel="stylesheet" href="../../../resources/css/account.css" th:href="@{/resources/css/account.css}"/>
</head>
<body>
<div class="login-content">
    <section class="title">登陆</section>
    <form method="POST" th:object="${model}">
        <!--/*展示所有错误-->
        <div class="error" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <!--*/-->
        <input type="hidden" th:value="${re}"/>
        <div>
            <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'error'"/>
            <span th:text="${#fields.errors('username')}" th:errors="*{username}"
                  th:class="${#fields.hasErrors('username')} ? 'error'"></span>
        </div>
        <div>
            <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'"/>
            <span th:text="${#fields.errors('password')}" th:errors="*{password}"
                  th:class="${#fields.hasErrors('password')} ? 'error'"></span>
        </div>
        <div><input type="checkbox" th:field="*{remember}"/></div>
        <div><input type="submit" value="Login"/></div>
        <a th:href="@{/account/register}">register</a>
    </form>
</div>
</body>
</html>