<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <a href="#config">配置</a>
    <a href="#inuse">实际</a>

    <h4 id="config">配置</h4>
    <pre>
<#list apiEntityList as entity>
&lt;!-- ${entity.className?uncap_first} --&gt;
&lt;dubbo:service interface="${entity.packageName}.${entity.className}"
ref="${entity.className?uncap_first}" group="${dubboConfigGroup}" version="${dubboConfigVersion}"
timeout="${dubboConfigTimeout}" registry="zookeeper"/&gt;

</#list>
    </pre>

    <h4 id="inuse">实际</h4>
    <pre>
<#list apiEntityList as entity>
&lt;!-- ${entity.className?uncap_first} --&gt;
&lt;dubbo:service interface="${entity.packageName}.${entity.className}"
ref="${entity.className?uncap_first}" group="${dubboConfigGroupInUse}" version="${dubboConfigVersionInUse}"
timeout="${dubboConfigTimeout}" registry="zookeeper"/&gt;

</#list>
    </pre>

</body>

</html>
